<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <a href="https://www.facebook.com/bro.we.coffee/" target="_blank">
          <i class="fab fa-facebook-square fa-2x">
            <img src="https://s1.iconbird.com/ico/0912/MetroUIDock/w512h5121347464873Facebookalt1.png">
          </i>
        </a>
        <a href="https://www.instagram.com/bro.we.coffee/" target="_blank">
          <i class="fab fa-instagram fa-2x">
            <img src="https://pngicon.ru/file/uploads/instagram.png">
          </i>
        </a>
        <a href="">
          <i class="fab fa-snapchat fa-2x"></i>
        </a>
      </p>
      <p>
        Можете связаться с нами по номеру телефона 8 (964) 787 - 78 - 30
      </p>
    </div>
  </div>
</footer>
