<footer class="page-footer center-aligh">
  <div class="footer-content center ">
    <span class="phone">Номер телефона</span>
    <a href="https://www.instagram.com/bro.we.coffee/"><img src="https://pngicon.ru/file/uploads/instagram.png"></a>
  </div>
</footer>
