<nav>
  <div class="row">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="col offset-s4 col s6">
        {{#if isCoffe}}
        <li class="active"><a href="/">КОФЕ</a></li>
        {{else}}
        <li><a href="/">КАФЕ</a></li>
        {{/if}}
        <li><a href="events.hbs">МЕРОПРИЯТИЯ</a></li>
        <li><a href="collapsible.html">ПЕКАРНЯ</a></li>
        <li><a href="collapsible.html">О НАС</a></li>
        <li><a href="collapsible.html">КОНТАНКТЫ</a></li>
      </ul>
    </div>
  </div>
</nav>
