<section id="prev" class="section">
  <div class="container">
    <h2 class="title has-text-centered subtitle is-1"> О НАС </h2>
    <h2 class="subtitle">
      <p>
        Для кого-то работа с кофе - это ремесло, для кого-то - алхимия, для кого-то - наука. Для нас - это искусство. По
        крайней мере мы очень хотим, чтобы так и было. Ведь основная цель искусства - пробуждать у людей эмоции. Так и
        мы хотим, чтобы каждая чашка вызывала у вас эмоции, и чем ярче и позитивнее они будут, тем лучше нам удалось
        выполнить свою задачу. Бариста это не просто кофевар, он проводник в мир кофейной культуры, всегда расскажет про
        напиток, зерно, обжарку, и поддержит любую кофейную тему и не только.
        Наша эспрессоварня - не бизнес ради бизнеса. Мы сделали место, в котором сами хотели побывать. Это больше чем
        дом, это отдельный мир, как бы это инфантильно ни звучало. Человек, вошедший в наши двери, никак не клиент. Вы
        сначала становитесь нашими гостями, а затем случается магия, и мы становимся друзьями. Как это происходит мы до
        сих пор не совсем понимаем.</p>
    </h2>
  </div>
</section>
