
{{#each coffes}}
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src={{this.imgURL}} alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">{{this.title}}</p>
     {{!--    <p class="subtitle is-6">{{price}}</p> --}}
      </div>
    </div>
    <div class="content">
      {{this.desctription}}
    </div>
  </div>
</div>
{{/each}}

