
<div class="row">
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="https://n1s1.elle.ru/bc/c2/0d/bcc20de3f36506d55df42a0717cb3182/1880x1254_0xac120002_7749164771533922560.jpeg">
        <span class="card-title ">Название кофе</span>
      </div>
      <div class="card-content">
        <p>Описание.</p>
      </div>
      <div class="card-action">
        <a href="#">Открыть</a>
      </div>
    </div>
  </div>
</div>
