<div class="section">
  <div class="columns is-two-thirds ">
    <div class="column  yandexmap"> <iframe
        src="https://yandex.ru/map-widget/v1/?um=constructor%3A3c0677180ce1149fbb5d3df9177813cbd90162a0c5a226ec29515709775d47c5&amp;source=constructor"
        width="562" height="475" frameborder="0"></iframe></div>
    <div class="column"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel repudiandae recusandae deserunt adipisci corrupti, possimus blanditiis quos harum facilis aut. Harum veritatis impedit inventore error dolore ducimus incidunt ipsum non?
    Dignissimos molestias ad architecto, aliquid sunt alias illo nostrum doloribus itaque eum voluptatem reprehenderit qui, est deserunt eveniet blanditiis cumque. Facilis possimus repellendus eveniet fuga sunt obcaecati qui animi fugiat.
    At mollitia a sunt eveniet aperiam ea, fugiat eius praesentium tempore repellat? Beatae fugit dolore qui nostrum adipisci, doloribus vero at praesentium ipsa, quod perferendis alias veniam soluta! Deleniti, itaque.
    Alias amet tempora velit sapiente. Saepe laboriosam quos totam praesentium. Aperiam nostrum mollitia unde libero quidem quod optio nesciunt officiis iusto excepturi laboriosam iste, dolorum maxime placeat beatae minima repudiandae.
    Exercitationem, non ad. Quae sed facere ipsam animi aperiam impedit, aliquid omnis tempore vitae non exercitationem vero vel ab praesentium consequuntur quos a odio illum, magnam, totam quas architecto fuga?
    Beatae dolore dicta ipsam? Quia, facilis et? Cupiditate quo alias unde dolores eveniet porro illum hic quas! Aut cumque assumenda labore a velit. Nam doloribus cum hic accusantium dolore sint?
    Eius quod temporibus veritatis repudiandae, eos deserunt nihil voluptates ex sequi sed maiores architecto, velit a dolor provident eveniet ullam vitae excepturi eum hic! Eveniet et ipsum facere alias sunt.
    Pariatur possimus vel error quidem consectetur, nemo illum sunt veritatis amet culpa, cupiditate placeat fuga! Animi molestiae nulla, non exercitationem, impedit incidunt excepturi adipisci odit quod officiis autem, vero reiciendis.

    </div>
  </div>
</div>
