<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/js/signin.js"></script>
    <script src="/js/signup.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
