{{#if isSignin}}
<script defer src="/signin.js"></script>
{{/if}}
{{#if isSignup}}
<script defer src="/signup.js"></script>
{{/if}}
<nav>
  <ul>
    <li><a href="/coffee">Кофе</a></li>
    <li><a href="/events">Мероприятия</a></li>
    <li><a href="/bakery">Пекарня</a></li>
    <li><a href="/about">О нас</a></li>
    <li><a href="/contacts">Контакты</a></li>
  </ul>
  <ul>
    {{#if user.name}}
    <li>{{user.name}}</li>
    <li><a href="/auth/private">Личный кабинет</a></li>
    <li><a href="/auth/signout">Выйти</a></li>
    {{else}}
    <li><a href="/auth/signup">Регистрация</a></li>
    <li><a href="/auth/signin">Войти</a></li>
    {{/if}}
  </ul>
</nav>
<h1>Coffee</h1>
