<nav>
  <ul>
    <li><a href="/coffee">Кофе</a></li>
    <li><a href="/events">Мероприятия</a></li>
    <li><a href="/bakery">Пекарня</a></li>
    <li><a href="/about">О нас</a></li>
    <li><a href="/contacts">Контакты</a></li>
  </ul>
</nav>
<h1>contacts</h1>
