<form method="POST" action="/auth/login">
  <label for="">Имя:</label>
  <input type="text" name="name">
  <label for="">Электронная почта:</label>
  <input type="text" name="email">
  <label for="">Пароль:</label>
  <input type="text" name="firstPassword">
  <label for="">Подтвердите пароль:</label>
  <input type="text" name="secondPassword">
  <button>Регистрация</button>
</form>
