<form method="POST" action="/auth/login" name="signinForm">
  <label for="">Электронная почта:</label>
  <input type="text" name="username">
  <label for="">Пароль:</label>
  <input type="text" name="password">
  <button>Войти</button>
</form>
